streamlit==1.35.0
streamlit-aggrid==0.3.4.post3
pandas==1.5.3
numpy==1.26.4
matplotlib==3.8.4
plotly==5.22.0
gspread==6.1.2
google-auth==2.33.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
fpdf2==2.7.9
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
reportlab==4.2.2
pillow==10.4.0
